<div class="well">
    <h1>A place to ask any Pilates related questions!</h1>
    <h4>This Q&amp;A site is dedicated to questions about Pilates</h4>
</div>

<div class="container">
  <% @questions.each do |q| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= q.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= q.email %> asked:</h4>
        <div><%= time_ago_in_words q.created_at %> ago</div>
        <div><%= q.body %></div>
        <div><a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a></div>
      </div>
    </div>
  <% end %>

  <% if @questions.empty? %>
  <div class="alert alter-info">Be the first to ask a question!</div> 

  <% end %>
</div>
